
*{
     margin: 0; 
     padding: 0;
}
    body{
        font-family: 'poppings', sans-serif;
    }




.cabecalho{
    background-color: #2fc9ad;
    color: wheat;  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;


}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola {
    background-image: linear-gradient(#2fc9ad,#EFCFCF);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width:35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.estudante-icone{
    width: 24px;
}
.estudante-div{
    text-align: center;
}
.estudante-titulo{
    text-align: center;
    padding: 50px;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
}
.rodape{
    background-color:black;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
  
}
.estudante {
    background-image: linear-gradient(#EFCFCF,#2fc9ad);
}

